#
# SeaShell
#
# Capistrano deployment recipes for seaside platforms
#
# Author: Andreas Brodbeck, mindclue gmbh, www.mindclue.ch
# Licence: MIT (see LICENSE file)
#                                          

###################################################################################################
# Project configuration for a stage (Change for your needs)
#

# Name of the application (No whitespace, no special characters!)
set :application, 'myapp'

# Domains of the deployed application (Example: www.myhost.com)
set :domains, ['myapp.org', 'myapp.com', 'myapp.yourdomain.net']

# Hostname of your server. Your deployed application runs there.
set :host, 'server7'

# User and group which is used for logging into the server
set :user, 'glass'
set :user_group, 'adm'

# Some pathes on the server
set :path_base, '/opt/gemstone'
set :path_gemstone, "#{path_base}/product"
set :path_seaside, "#{path_gemstone}/seaside"
set :path_lighty_application_configs, '/etc/lighttpd/seaside_applications'

# User and password for logging into Gemstone
set :gemstone_user, 'DataCurator'
set :gemstone_password do
  ask_password("Password for Gemstone user '#{gemstone_user}': ", 'swordfish')
end


# Metacello repository of your project's code
set :metacello_repository_url, 'http://monticello.somedomain.org/myapp'
set :metacello_project_name, 'MPMyApp'
set :metacello_repository_user, 'squeak'
set :metacello_repository_password do
  ask_password("Password for Metacello user '#{metacello_repository_user}': ", 'fh3ss8f382nf')
end


# Configuration of gems, running one application instance each.
set :gems_seaside_adaptor, 'fastcgi'
set :gems_start_port, 10001
set :gems_count, 3

# Configure your seaside entry points here, as a hash with {YourRootComponent => 'entry-point-name', ...}.
# Your application will be reachable at /entry-point-name
set :entry_points, {'MPApplicationComponent' => 'mywonderfulapp', 'MPAdminApplicationComponent' => 'admin'}

# The default entry point to redirect to, if browsing at root URL
set :default_entry_point, 'mywonderfulapp'

# Required packages, which are not requirable by the application Monticello package itself
# (Example: Platform specific code)
set :required_packages, ['MPSomePackageOnlyForProductionMachine']


# The following variables normally are set by default later, if not preset here. If needed you can override them here:
# set :path_application, "#{path_base}/applications/#{application}"
# set :path_data, "#{path_application}/data"
# set :path_backups, "#{path_data}/backups"
# set :path_web_root, "#{path_application}/web_root"
# set :stone, application
